<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Foodie</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url "foodie:index" %}">Foodie</a>
        <a href="{% url "recipe:index" %}">Recipes</a>
        <a href="{% url "foodie:add_category" %}">Add Category</a>
        <a href="{% url "recipe:add_recipe" %}">Add Recipe</a>
      </nav>
      <div>
        <a href="{% url "sandbox:index" %}">Sandbox</a>
        <a href="{% url "sandbox:homemade" %}">Homemade</a>
        <a href="{% url "sandbox:feedback" %}">Feedback</a>
      </div>
      {% if user.is_authenticated %}
        <div>
          Hello, {{ user.username }}
          <form action="{% url "accounts:logout" %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        </div>
      {% else %}
        <div>
          <a href="{% url "accounts:register" %}">Register</a>
          <a href="{% url "accounts:login" %}">Login</a>
        </div>
      {% endif %}
      <hr>
    </header>
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
